[submodule ".vim/bundle/Vundle.vim"]
	path = Vim/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule ".oh-my-zsh"]
	path = Zsh/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
